.cart_container {
  width: 85%;
  height: auto;
  margin: auto;
  padding-top: 80px;
  
}

.title {
  font-size: 40px;
  font-weight: 700;
  color: var(--secondary);
  margin-bottom: 2rem;
  margin-top: 0;
}
