.cart_modal_wrap {
  width: 100%;
  height: 214px;
  display: flex;
  justify-content: space-between;
  margin: 5px 0px  20px 0px;
  }
.cart_wrap {
  width: 100%;
  height: 300px;
  display: flex;
  justify-content: space-between;
  margin: 15px 0px 15px 0px;

}

.modal_attributes {
  width: 225px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.modal_attributes.cart_attributes {
  width: 650px;
  
}

.modal_brand > p {
  line-height: 26px;
  margin-bottom: 9px;
}
.cart_brand > p {
  line-height: 27px;
  margin-bottom: 16px;
}

.modal_price {
  font-weight: 500;
  margin-bottom: 27px;
  font-family: "Raleway", sans-serif;
}
.cart_price {
  font-weight: 700;
  font-size: 24px;
  font-family: "Raleway", sans-serif;
}

.modal_size {
  display: flex;
  flex-direction: column;
  justify-content: end;
  flex-wrap: wrap;
}

.modal_name {
  margin: 0px;
  width: 100%;
  font-size: 14px;
  display: flex;
  flex-wrap: wrap;
}

.modal_name .cart_name {
  width: 100%;
}

.modal_name p {
  margin-right: 10px;
  font-size: 12px;
}

.modal_counts {
  width: 26px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.modal_counts.cart_counts {
  width: 45px;
  margin: 0 5px;
}

.count {
  width: 24px;
  height: 24px;
  border: 1px solid var(--black);
  text-align: center;
  font-size: 18px;
  margin-right: 0;
  cursor: pointer;
}
.modal_counts > div {
  text-align: center;
}

.count.cart_count {
  width: 45px;
  height: 45px;
  font-size: 24px;
}
.count .cart_count div {
  text-align: center;
  font-weight: 500;
  font-family: "Raleway", sans-serif;
}

.modal_image {
  width: 147px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  
}
.modal_image img {
  height: 60%;
  width: auto;
}

.cart_image {
  width: 365px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.cart_image img {
  height: 300px;
  width: auto;
}


.wrapper_cart {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  
}

@media only screen and (max-width: 800px) {
  .cart_wrap {
    width: 350px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 10px 0px 10px 0px;
    
  }
  .cart_image img {
    height: 90%;
    width: auto;
  }


  .cart_image {
    width: auto;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    
    
  }

  .modal_attributes.cart_attributes {
    width: 350px;
    margin-bottom: 10px;
  }

  .wrapper_cart {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    
  }

}
