.container_details {
  width: 85%;
  margin: 0 auto;
  height: auto;
  display: flex;
  color: var(--black);
}
.wrap_details {
  display: flex;
  margin: 2% 0 0 0;
  width: 100%;
  height: auto;
  justify-content: space-between;
}
.images_details {
  width: 65%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.images_items {
  max-width: 35%;
  height: calc(100vh + 50px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.image_item {
  cursor: pointer;
  margin: 0px 5px 10px 0px;
  display: flex;
  justify-content: center;
  max-width: 120px;
}
.image_item > img {
  width: 100%;
  height: auto;
}

.image_item:hover {
  box-shadow: 0px 4px 35px rgba(168, 172, 176, 0.19);
}
.image_main {
  max-width: 65%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-right: 20px;
}

.image_main img {
  width: 70%;
  height: auto;
}

@media only screen and (max-width: 1547px) {
  .image_main {
    width: 80%;
  }
  .image_main img {
    width: 85%;
  }

  .images_items {
    width: 50%;
  }

  .image_item {
    width: 115px;
    height: auto;
    margin: 0 7px 10px 0;
  }
}

@media only screen and (max-width: 1100px) {
  .images_details {
    flex-direction: column-reverse;
    align-items: center;
    justify-content: flex-start;
  }
  .image_item {
    margin: 30px 5px;
  }
}

@media only screen and (max-width: 800px) {
  .container_details {
    height: 100%;
  }

  .wrap_details {
    flex-direction: column;
    width: 100%;
    justify-content: center;
  }

  .wrap_details {
    margin-top: 50px;
    align-items: center;
  }
  .images_items {
    height: auto;
  }

  .images_items .image_item {
    margin: 20px;
  }
  .images_details {
    width: 100%;
    align-items: center;
  }
}
@media only screen and (max-width: 600px) {
  .images_items {
    width: 100%;
  }
  .wrap_info_details h1 {
    text-align: center;
  }
}
@media only screen and (max-width: 540px) {
  .images_items {
    width: 50%;
  }
}
